*.a
*.agc.html
*.bin
*.cbp
*.core
*.dSYM
*.lst
*.o
*.symerr
*.symtab
.DS_Store
.idea
/.cproject
/.gitignore
/.pydevproject
/COMMON.out
/disassemblerAGC.agc
/extra2.txt
/listing22.txt
/test.patterns
Colossus237/Colossus237.binsource
FP6/FP6.aea.html
FP6/FP6.symtab
FP8/FP8.aea.html
FP8/FP8.symtab
SuperJob/SuperJob.binsource
Tools/bdiffhead
Tools/checkdec
Tools/listing2binsource
Tools/oct2bin
Tools/split-interp
Tools/webb2burkey-rope
Validation/Validation.txt
VirtualAGC/VirtualAGC
VirtualAGC/temp
build/
core
corediff.txt
jWiz/jWiz
oct2bin.proof
yaACA/yaACA
yaACA2/yaACA2
yaACA3/yaACA3
yaAGC-Block1-Pultorak/yaAGC-Block1
yaAGC/yaAGC
yaAGCb1/test.agc.pad
yaAGCb1/yaAGCb1
yaAGS/yaAGS
yaDEDA2/yaDEDA2
yaDSKY2/yaDSKY2
yaLEMAP/Apollo32.png
yaLEMAP/Default.style
yaLEMAP/Main.annotation
yaLEMAP/binLEMAP
yaLEMAP/yaLEMAP
yaTelemetry/yaTelemetry
yaUniverse/yaUniverse
yaUplinkBlock1/yaUplinkBlock1
yaYUL/yaYUL
/MYAPP/
/rtest.log
