.drawingIndex {
	width: 100%;
	font-family: monospace;
	border-collapse: collapse;
	border: 3px solid #888;
}

table.drawingIndex td {
	border: 2px solid #ccc;
	padding-right: 6px;
	padding-left: 6px;
}

table.drawingIndex td:not(:last-child){
    	white-space: nowrap;
}

table.drawingIndex td:last-child{
    	width: 100%;
}

a.earlyDrawing:link {
	color: red;
}

a.earlyDrawing:visited {
	color: brown;
}