/*
  This is a stylesheet used in common by every HTML file on the site that
  uses Header.js.
*/

/* Body and general background */
body {
  /*
  font-family: serif;
  font-size: 1.1rem;
  */
  font-family: Roboto, sans-serif;
  line-height: 1.4;
  padding: 0.5rem;
  
}
