/*
  This is a stylesheet used in common by every HTML file on the site that
  uses Header.js.
*/

/* Body and general background */
body {
  /* font-family: sans-serif; */
  /* line-height: 1.618; */
  /* padding: 2.618rem; */
}
