/temp.txt
/temp.sch
/temp1.txt
/temp2.txt
/temp3.txt
/temp4.txt
/temp1.sch
/temp2.sch
/2005254--1-rescaled.png
/2005254--2-rescaled.png
/2005250--1-rescaled.png
/2005250--2-rescaled.png
/2005250--3-rescaled.png
