[Desktop Entry]
Encoding=UTF-8
Name=piDSKY2
Comment=Physical DSKY
Terminal=false
Exec=xterm -fullscreen -e ./runPiDSKY2.sh --custom-bare --pigpio=15 --playback
Type=Application
Icon=/home/pi/virtualagc/piPeripheral/piDSKY2-images/CompActyOn.gif
Path=/home/pi/virtualagc/piPeripheral
