[Desktop Entry]
Encoding=UTF-8
Name=Update
Comment=Update Virtual AGC
Terminal=false
Exec=git pull
Type=Application
Icon=/home/pi/virtualagc/yaDSKY2/UplinkActyOn.jpg
Path=/home/pi/virtualagc
