[Desktop Entry]
Encoding=UTF-8
Name=Update
Comment=Update Virtual AGC
Terminal=false
Exec=git pull
Type=Application
Icon=/home/pi/virtualagc/piPeripheral/piDSKY2-images/UplinkActyOn.jpg
Path=/home/pi/virtualagc
